.about-block {
  background-image: url("../images/About/about_decoration_1.svg"), url("../images/About/about_decoration_2.svg"), url("../images/About/about_decoration_3.svg");
  background-repeat: no-repeat;
  background-position: 8% 25%, 100% 40%, 0% 85%;
}
.about-block__mextreo {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15vh;
}
.about-block__mextreo .image-with-bechind-border::after {
  top: -50px;
  right: 50px;
}
.about-block__successful_working {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15vh;
}

.mextreo__text-block {
  margin-left: 5vw;
  padding-right: 10vw;
}
.mextreo__text-block h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.mextreo__text-block p {
  color: #646464;
  margin-bottom: 50px;
}

.successful_working__left-side {
  padding: 5vw;
}
.successful_working__left-side h2 {
  max-width: 500px;
}
.successful_working__years {
  margin-bottom: -2rem;
  margin-top: 0;
  font-weight: 900;
  font-size: 200px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-size: contain;
  background-image: url("../images/About/20-texture.jpg");
}

.completed-work-block {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.completed-work-block h2 {
  text-align: center;
}
.completed-work-block__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 450px;
}
.completed-work-block__element {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
          box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
  width: 200px;
  height: 200px;
}
.completed-work-block__element p {
  color: #646464;
  text-align: center;
}
.completed-work-block__element:nth-child(4) {
  position: relative;
  top: 150px;
}
.completed-work-block__element:nth-child(10) {
  position: relative;
  top: 150px;
}
.completed-work-block__step-up-line {
  position: absolute;
  border-bottom: 1px solid #646464;
  border-right: 1px solid #646464;
  height: 150px;
  top: 100px;
}
.completed-work-block__step-down-line {
  position: absolute;
  border-top: 1px solid #646464;
  border-right: 1px solid #646464;
  height: 150px;
  top: 100px;
}
.completed-work-block__vertical-line {
  position: absolute;
  border-bottom: 1px solid #646464;
}

.testimonials-block {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20vh;
}
.testimonials-block h2 {
  text-align: center;
  margin-top: 0;
}
.testimonials-block h3 {
  text-align: center;
}
.testimonials-block__nav-buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 6vw;
  margin-bottom: 5vh;
}
.testimonials-block__nav-buttons button {
  border-radius: 50%;
  margin-right: 3vw;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  color: #646464;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
          box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonials-block__nav-buttons button:hover {
  color: #FFF;
  background-color: #37806B;
}
.testimonials-block__comments-container {
  display: -webkit-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}
.testimonials-block .comment {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
          box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
  position: relative;
  width: 25vw;
  height: 15vh;
  margin-right: 17vw;
  padding: 35px 0 20px 80px;
}
.testimonials-block .comment img {
  position: absolute;
}
.testimonials-block .comment__image {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  width: 110px;
  height: 110px;
  left: -55px;
  top: calc(50% - 55px);
}
.testimonials-block .comment__quotes {
  right: 10%;
}
.testimonials-block .comment p {
  color: #646464;
  font-size: 0.8em;
  margin-right: 50px;
}
.testimonials-block .comment p b {
  color: #212121;
  font-size: 1.2em;
}/*# sourceMappingURL=about-block.css.map */