header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFF;
}

.nav-bar {
  padding-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-bar__buttons-container {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-bar__buttons-container button {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #CAA892;
  color: #FFF;
  padding: 5px 20px;
  cursor: pointer;
}
.nav-bar__link {
  cursor: pointer;
  border: 3px solid transparent;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar__link:hover {
  border-radius: 20px;
  border: 3px solid #37806B;
  color: #37806B;
}

.progress-bar {
  margin-top: 5px;
  height: 5px;
  background-color: #37806B;
  width: 0;
  -webkit-transition: width 0.9s;
  transition: width 0.9s;
}

.services-block {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
  background: url("../images/Services/services_decorator.png");
  background-position: 100% 110%;
  padding-bottom: 20vh;
  background-repeat: no-repeat;
}
.services-block__button {
  border-radius: 20px;
  border: 3px solid #37806B;
  color: #37806B;
  background-color: #37806B;
  color: #FFF;
  width: 200px;
  height: 45px;
  cursor: pointer;
  margin-right: 75px;
}
.services-block__button.selected {
  background-color: #FFF;
  color: #37806B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-container {
  display: grid;
  margin-top: 8vh;
  grid-row-gap: 50px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.services-container .services-element:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-container .services-element:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.services-container .services-element:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
}

.services-container .services-element:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.services-container .services-element:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 6;
}

.services-element {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
          box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.4509803922);
  height: 0;
  width: 400px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  background-color: #FFF;
  padding: 0 40px 10px 20px;
}
.services-element__picture {
  width: 42px;
  height: 33px;
  padding-top: 20px;
  padding-right: 5px;
}
.services-element__name {
  font-size: 1.5em;
}

.services-element.architecture {
  background-color: #CAA892;
  color: #FFF;
}

.services-element.visible {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-animation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  z-index: 1;
}

.subscribe-block {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe-form__small-input {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #EEE;
  color: #646464;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subscribe-form__big-input {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #EEE;
  color: #646464;
}
.subscribe-form__submit-input {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #37806B;
  color: #FFF;
  padding: 10px 20px;
}

.error-input {
  background: #fa5454;
}

.error-input:-webkit-autofill,
.error-input:-webkit-autofill:hover,
.error-input:-webkit-autofill:focus,
.error-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fa5454 inset;
}

.sigma-hello {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  z-index: 1;
}

.hidden {
  display: none;
}

.modern-interior-block {
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../images/Modern Interior/modern_inerior_decoration.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 10vh;
}
.modern-interior-block__left-text {
  padding-top: 50px;
}
.modern-interior-block__contact-button {
  margin-top: 50px;
}
.modern-interior-block p {
  color: #646464;
}

h1 {
  color: #212121;
  font-size: 72px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

.overflow-hidden {
  overflow: hidden;
}

h3 {
  color: #646464;
}

h2 {
  color: #212121;
}

button {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #37806B;
  color: #FFF;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */