$light-broun-color : #CAA892;
$light-grey-color : #646464;
$main-green-color : #37806B;
$main-black-color : #212121;
$white-color : #FFF;
$base-backgroung-color : #f8f8f8;
$base-transition-time : 0.3s;
$common-shadow : 5px 5px 10px 0px #21212173;