@import "variables";
@import "mixins";

.about-block__mextreo{
    @include base-block-padding;
    display: flex;
    margin-bottom: 15vh;
    .image-with-bechind-border{
        &::after{
            top: -50px;
            right: 50px;
        }
    }
}

.mextreo__text-block{
    margin-left: 5vw;
    padding-right: 10vw;
    h2{
        margin-top: 50px;
        margin-bottom: 10px
    }
    p{
        color: $light-grey-color;
        margin-bottom: 50px;
    }    
}

.about-block__successful_working{
    @include base-block-padding;
    display: flex;
    margin-bottom: 15vh;
}

.successful_working__left-side{
    padding: 5vw;
    h2{
        max-width: 500px;
    }
}

.completed-work-block{
    background-color: $base-backgroung-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2{
        text-align: center;
    }
    &__container{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        height: 450px;
    }
    &__element{
        @include medium-rounded-border;
        background: #fff;
        box-shadow: $common-shadow;
        width: 200px;
        height: 200px;
        p{
            color: $light-grey-color;
            text-align: center;
        }
        &:nth-child(4){
            position: relative;
            top: 150px;
        }
        &:nth-child(10){
            position: relative;
            top: 150px;
        }
    }
    &__step-up-line{
        position: absolute;
        border-bottom: 1px solid $light-grey-color;
        border-right: 1px solid $light-grey-color;
        height: 150px;
        top: 100px;
    }
    &__step-down-line{
        position: absolute;            
        border-top: 1px solid $light-grey-color;
        border-right: 1px solid $light-grey-color;
        height: 150px;
        top: 100px;
    }
    &__vertical-line{
        position: absolute;
        border-bottom: 1px solid $light-grey-color;
    }
}

.testimonials-block{
    @include base-block-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh;
    h2{
        text-align: center;
        margin-top: 0;
    }
    h3{
        text-align: center;
    }
    &__nav-buttons{
        align-self: flex-end;
        margin-right: 6vw;
        margin-bottom: 5vh;        
        button{
            border-radius: 50%;
            margin-right: 3vw;
            width: 50px;
            height: 50px;
            background-color: $white-color;
            color: $light-grey-color;
            box-shadow: $common-shadow;
            transition: $base-transition-time;
            &:hover{
                color: $white-color;
                background-color: $main-green-color;
            }
        }
    }
    &__comments-container{
        display: -webkit-box;
        justify-content: space-evenly;
        padding-left: 50px;
        padding-bottom: 20px;
        overflow: hidden;
    }
    .comment{
        @include medium-rounded-border;
        box-shadow: $common-shadow;
        position: relative;
        width: 25vw;
        height: 15vh;
        margin-right: 17vw;
        padding: 35px 0 20px 80px;
        img{
            position: absolute;
        }
        &__image{
            @include small-rounded-border;
            width: 110px;
            height: 110px;
            left: -55px;
            top: calc(50% - 55px);
        }
        &__quotes{
            right: 10%;
        }
        p{
            color: $light-grey-color;
            font-size: 0.8em;
            margin-right: 50px;
            b{
                color: $main-black-color;
                font-size: 1.2em;
            }
        }
    }
}