@import "variables";
@import "mixins";

.blog-block{
    @include base-block-padding;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-backgroung-color;
    h3{
        text-align: center;
    }
    &__blog-container{
        display: flex;
    }
}

.blog-element{
    width: 40vw;
    &__name{
        font-size: 1.5em;
    }
    &__description{
        color: $light-grey-color;
        margin-bottom: 40px;
    }
    .image-with-bechind-border{
        img{
            position: relative;
            z-index: 1;
            width: 550px;
            height: 400px;
        }
        &::after{
            width: 550px;
            height: 400px;
            z-index: 0;
            top: 25px;
            right: 190px;
        }
    }
}