@import "variables";
@import "mixins";

.modern-interior-block{
    @include base-block-padding;
    display: flex;
    justify-content: space-around;
    background-image: url("../images/Modern_Interior/modern_inerior_decoration.svg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    padding-bottom: 10vh;
    &__left-text{
        padding-top: 50px;
    }
    &__contact-button{
        margin-top: 50px;
    }
    p{
        width: 500px;
        color: $light-grey-color;
    }
}

h1{
    color: $main-black-color;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.image-with-bechind-border{
    @include big-picture-with-border;
}