@import "header";
@import "service-block";
@import "loading-animation";
@import "subscribe-block";
@import "modern-interior";
@import "footer";
@import "blog-block";
@import "about-block";

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.overflow-hidden{
    overflow: hidden;
}

h3{
    color: $light-grey-color;
}

h2{
    font-size: 3em;
    color: $main-black-color;
}

button{
    @include common-button;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}