@import "mixins";
@import "variables";

.subscribe-block{
    background-image: url("../images/About/about_decoration_2.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-top: 15vh;
    @include base-block-padding;
    margin-top: 0;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        color: $light-grey-color;
    }
    &__vertical-line{
        width: 20vw;
        border: 1px solid $light-grey-color;
        margin: auto;
    }
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__small-input{
        @include small-rounded-border;
        background: #EEE;
        color: $light-grey-color;        
        transition: $base-transition-time;
        padding: 10px;
        margin-right: 50px;
        margin-bottom: 30px;
        width: 20vw;
    }
    &__big-input{
        @include small-rounded-border;
        background: #EEE;
        color: $light-grey-color;
        width: calc(40vw + 80px);
        margin-left: -50px;
        padding: 10px;
   }
    &__submit-input{
        @include common-button;
        cursor: pointer;
    }
}

.error-input{
    background: #fa5454;
}

.error-input:-webkit-autofill,
.error-input:-webkit-autofill:hover, 
.error-input:-webkit-autofill:focus, 
.error-input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px #fa5454 inset;
}

.sigma-hello{
    @include all-window-cover;
    &__congratulation{
        font-size: 100px;
        color: $main-green-color;
        b{
            font-size: 130px;
            color: $light-grey-color;
        }
        span{
            font-size: 150px;
            color: #fa5454;
        }
    }
}

.hidden{
    display: none;
}