@import "mixins";
@import "variables";

.subscribe-block{
    @include base-block-padding;
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__small-input{
        @include small-rounded-border;
        background: #EEE;
        color: $light-grey-color;        
        transition: $base-transition-time;
    }
    &__big-input{
        @include small-rounded-border;
        background: #EEE;
        color: $light-grey-color;
    }
    &__submit-input{
        @include small-rounded-border;
        background: $main-green-color;
        color: $white-color;
    }
}

.error-input{
    background: #fa5454;
}

.error-input:-webkit-autofill,
.error-input:-webkit-autofill:hover, 
.error-input:-webkit-autofill:focus, 
.error-input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px #fa5454 inset;
}

.sigma-hello{
    @include all-window-cover;
}

.hidden{
    display: none;
}